:root {
    --basecolor: #fff;
    --background-color: lightgrey;
    --font-color-primary: #000;
    --font-colour-contrast: #aaa;
    /*unsure if needed */
    --background-color-transp: rgba(211, 211, 211, 0.9);
    --transition-time: 500ms;
}

/*  Font and universal declarations  */
* {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
    font-size: 150%;
}


/* setup two column flex layout defaults */
.row {
    display: flex;
    flex-wrap: wrap;

}

.column {
    flex: 1 1 auto;
    padding: 2rem;
    margin: 2rem;
    justify-content: center;
    align-items: center;
}


/* Header layout and design */
header {
    background-color: lightgrey;

    /*force element to always show, and be on top */
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    /* Flex for Nav display */
    display: flex;
    align-items: center;

    /*make this more readable - gap the sides*/
    padding: 0 1rem;
}

/*Nav Declarations */
nav {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    flex: auto;
}

nav a:hover {
    background-color: grey;
}

/* set values for relative declarations - margin top to avoid the header*/
main {
    height: 100%;
}

/* Provide some margin for all p elements */
p {
    margin: 1em 0;
}



/* Work Examples section */
.work-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin: 4vh auto;
    padding: 2rem;
    justify-content: space-evenly;
    clear: both;

}

.work-card {
    margin: 1%;
    border: solid;
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
    flex: 0 1 content;
    transition: var(--transition-time);
}

.work-card:hover {
    opacity: 0.7;
    transition: var(--transition-time);
}

/* make the first one big */
.work-section .work-card:first-of-type {
    flex: 0 1 96%;
}


.work-card img {
    width: 100%;
    height: auto;
}

.work-card >a {
    text-decoration: none;
    color: var(--font-color-primary)
}


.work-card figure figcaption {
    position: absolute;
    bottom: .5rem;
    padding: .4rem;
    border: darkgrey solid;
    background: var(--background-color-transp);
}

.work-card figure figcaption>h2 {
    padding: .5rem 0;
}

.profile-image {
    margin: 1em auto;
    width: 150px;
    height: auto;
    border: 2px #999;
    border-style: solid;
    border-radius: 50%;
    box-shadow: 10px 5px 10px #555;
    flex: 150px;
}
 
/* !!!!! MOVE ME !!!!! */
#about {
    padding: 1em;
}

#about>h2 {
    text-align: center;
}

#about-text {
    margin: auto;
    flex: 60%;
}


/* links list */
.links-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    padding: 2.5%;
}

.links-list>li {
    flex: 45%;
}


.form-list {
    padding: 2rem;
}

.form-list li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    margin-bottom: .5em;
    ;
}

.form-list>li>label {
    flex: 1 0 120px;
    max-width: 180px;
    display: flex;
    justify-content: flex-start;
    padding-right: 1em;
}

.form-list>li>label+* {
    flex: 1 0 220px;
}

.form-list li button {
    margin: .5em auto;
    padding: 8px 16px;
    border: none;
    background: darkgrey;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 0.09em;
    border-radius: 2px;
}



/*Footer*/
footer {
    padding: 2rem;
    width: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}




#links>h2,
#links>p {
    text-align: center;
}


#contact>h2 {
    text-align: center;
}

.links-list img {
    height: 70px;
    /*to conform with spotify logo display guidelines https://developer.spotify.com/documentation/general/design-and-branding/#using-our-logo*/
    width: auto;
    margin: 20px;
    /*to conform with spotify logo display guidelines*/
}


/* full screen */
@media screen and (min-width:768px) {
    .central-aligned {
        max-width: 80%;
        margin: 1rem auto;
        position: relative;
    }
}


/*Tablet screen */
@media screen and (max-width: 768px) {
    * {
        font-size: 18px;
    }

    .central-aligned {
        width: 90%;
        margin: 1rem auto;
        position: relative;
    }

    #about>p {
        clear: both;
    }

    /* nav {

    } */

    /* TODO: Remove borders on side and work out the following - Individually commented so they can be uncommented easily */

    /* nav {
        Clear and put on new line - Horizontal is okay and it can remain fixed (talk to instructor??)
    } */


    /* .work-section {

    } */

    /* .work-card {

    } */

}


/*Phone Portrait only*/
@media screen and (max-width: 481px) {
    * {
        font-size: 20px;
    }

    .central-aligned {
        width: 90%;
        margin: 1rem auto;
        position: relative;
    }

    #about>p {
        clear: both;
    }

    /* TODO: Remove borders on side and work out the following - Individually commented so they can be uncommented easily */

    /* nav {
        stack vertically and make it not fixed
    } */

    /* .side-title {

    } */

    /* .work-section {

    } */

    /* .work-card {

    } */
}