:root {
    --basecolor: #fff;
    --background-color: lightgrey;
    --font-color-primary: #000;
    --font-colour-contrast: #aaa;
    /*unsure if needed */
    --background-color-transp: rgba(211, 211, 211, 0.9);
    --background-hover: grey;
    --transition-time: 500ms;
    --transition-time-long: 1000ms;
    --central-channel: 60%;

}

/*  Font and universal declarations  */
* {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1 {
    font-weight: 700;
    font-size: 175%;
}


h2 {
    font-weight: 500;
    font-size: 150%;
}


/* setup two column flex layout defaults */
.row {
    display: flex;
    flex-wrap: wrap;

}

.column {
    flex: 1 1 auto;
    padding: 2rem;
    margin: 2rem;
    justify-content: center;
    align-items: center;
    transition: var(--transition-time-long) ease;
}


/* Header layout and design */
header {
    background-color: lightgrey;

    /*force element to always show, and be on top */
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

#header-content
{
    width: var(--central-channel);
    display: flex;
    align-items: center;
    margin: 0 auto;

}

/*Nav Declarations */
nav {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    flex: auto;
}

nav a:hover {
    background-color: var(--background-hover);
}

/* set values for relative declarations - margin top to avoid the header*/
main {
    height: 100%;
}

/* Provide some margin for all p elements */
p {
    margin: 1em 0;
}



/* Work Examples section */
.work-section {
    margin-top: 10rem;
}

.work-examples {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin: auto;
    padding: 2rem;
    justify-content: space-evenly;
    clear: both;
    max-height: 800px;

}
.work-section>h2 {
    flex:100%;
    margin-left: auto;
    text-align: center;
}

.work-card {
    margin: .5%;
    position: relative;
    /* width: auto;
    height: auto; */
    overflow: hidden;
    flex: 1 2 content;
    transition: var(--transition-time);
    max-height: 200px;
}

.work-card:hover {
    opacity: 0.7;
    transition: var(--transition-time);
}

/* make the first one big */
.work-examples .work-card:first-of-type {
    flex: 5 1 50%;
    
}


.work-card img {
    width: 100%;
    height: auto;
}

.work-card >a {
    text-decoration: none;
    color: var(--font-color-primary)
}


.work-card figure figcaption {
    position: absolute;
    bottom: .5rem;
    padding: .4rem;
    /* border: darkgrey solid; */
    background: var(--background-color-transp);
}

.work-card figure figcaption>h2 {
    padding: .5rem 0;
}

#about-container {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}

.profile-image {
    /* float: left;
    margin-left: 5%;
    margin-bottom: 5%; */
    width: 20vw;
    max-width: 200px;
    height: auto;
    border: 1px #999;
    border-style: solid;
    border-radius: 50%;
    box-shadow: 10px 5px 10px #555;
    flex: 1 1 20%;
}
 
/* !!!!! MOVE ME !!!!! */
#about {
    padding: 2rem;
    
}

#about h2 {
    text-align: center;
}

#about-text { 
    /* margin-top: 3rem;
    margin-left: 30%; */
    padding-left: 5%;
    flex: 1 1 10%;
    transition: var(--transition-time)
} 

 .page-split {
    border: 1px rgb(165, 155, 155) ridge;
    box-shadow: 5px 4px 2px #888;
} 

/* links list */
.links-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 2.5%;
}

.links-list>li {
    flex: 45%;
}


.form-list {
    padding: 2rem;
}

.form-list li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    margin: 1em auto;
    
}

.form-list>li>label {
    flex: 1 0 120px;
    max-width: 180px;
    display: flex;
    justify-content: flex-start;
    padding-right: 1em;
}

.form-list>li>label+* {
    flex: 1 0 220px;
}

.form-list li button {
    margin: .5em auto;
    padding: 8px 16px;
    border: none;
    background: darkgrey;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 0.09em;
    border-radius: 2px;
}



/*Footer*/
footer {
    padding: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}




#links>h2,
#links>p {
    text-align: center;
}


#contact>h2 {
    text-align: center;
}

.links-list img {
    max-height: 40px;
    height: auto;
    width: auto;
    max-width: 100%;
    margin: 20px;
}


/* full screen */
@media screen and (min-width:768px) {
    .central-aligned {
        max-width: var(--central-channel);
        margin: 1rem auto;
        position: relative;
    }

    /*hide menu button when not needed*/
    #header-content img {
        display:none;
    }
}


/*Tablet screen */
@media screen and (max-width: 768px) {
    * {
        font-size: 18px;
    }

    .central-aligned {
        width: 90%;
        margin: 1rem auto;
        position: relative;
    }

    #about-container {
        justify-content: center;
    }

    .profile-image {
        margin: 2rem auto;
    }

    #about-text {
        flex: 100%;
    }

    #header-content {
        flex-direction: row;
        padding-top: 1rem;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    #header-content>h1 {
        padding-left:1rem;
        flex: 1 1 50%
    }

    #header-content img {
        /* height: auto; */
        border-radius: 5px;
        margin-left: auto;
        flex:0 0;
        margin-right: 1rem;
    }

    /* my intention with this is to make it a clickable "expand menu" element 
    As I am unable to do this at the moment due to time constraints, I am leaving this note here*/
    /* TODO make this hide/unhide the nav element */
    #header-content img:hover {
        /* height: auto; */
        background-color: var(--background-hover);
    }


    nav {
        flex: 1 0 100%;
        /* flex-direction: column;  */
        order: 3;
        justify-content: center;
     }

     nav>a {
        text-align: center;
     }


     


}


/*Phone Portrait only*/
@media screen and (max-width: 481px) {
    * {
        font-size: 20px;
    }

    .column {
        
        margin:15px 0;
        padding:0;
    }
    .form-list {
        padding: 15px;
    }

    .links-list {
        justify-content: flex-start;
    }

    .links-list li {
        flex:0 1 30%;
    }

    .central-aligned {
        width: 90%;
        margin: 1rem auto;
        position: relative;
    }

    #about-container {
        justify-content: center;
    }

    .profile-image {
        margin: 2rem auto;
    }

    #about-text {
        flex: 100%;
    }

    #header-content {
        flex-direction: column;
    }


    #about-container {
        justify-content: center;
    }

    .profile-image {
        margin: 2rem auto;
    }

    #about-text {
        flex: 100%;
    }

    #header-content {
        flex-direction: row;
        padding-top: 1rem;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    #header-content>h1 {
        padding-left:1rem;
        flex: 1 1 50%
    }

    #header-content img {
        /* height: auto; */
        border-radius: 5px;
        margin-left: auto;
        flex:0 0;
        margin-right: 1rem;
    }

    /* my intention with this is to make it a clickable "expand menu" element 
    As I am unable to do this at the moment due to time constraints, I am leaving this note here*/
    /* TODO make this hide/unhide the nav element - nav element to be flex-direction: column*/
    #header-content img:hover {
        /* height: auto; */
        background-color: var(--background-hover);
    }


    nav {
        flex: 1 0 100%;
        /* flex-direction: column;  */
        order: 3;
        justify-content: center;
     }

     nav>a {
        text-align: center;
        font-size: smaller;
     }




}