/* ------------------------- Table of Contents ---------------------- */

/* Each section is numbered and idenfied by comment lines like this:  */
/* ----------------------- n. Section Title ------------------------- */
/* ------------------------------------------------------------------ */
/* as this is for one page, for readability, this file has been ordered according to elements on the page */
/*

1. Variables, Global/Font declarations 
2. Header/Nav layout and control
3. About section
4. Work Examples
5. Links
6. Contact form
7. Footer
8. Viewport - Tablet
    8.1. Global Element Changes
    8.2. Header/Nav Changes
    8.3. About Section Changes
    8.4. Work Examples Changes
9. Viewport - Mobile
    9.1. Global Element Changes
    9.2. Header/Nav Changes
    9.3. About Section Changes
    9.4. Work Examples Changes
    9.5. Links/Contact changes

*/
/* ------------ 1. Variables, Global/Font declarations -------------- */
/* ------------------------------------------------------------------ */

:root {
    --basecolor: #fff;
    --background-color: lightgrey;
    --font-color-primary: #000;
    --font-colour-contrast: #aaa;
    /*unsure if needed */
    --background-color-transp: rgba(211, 211, 211, 0.9);
    --background-hover: grey;
    --transition-time: 500ms;
    --transition-time-long: 1000ms;
    --central-channel: 70%;

}

/*  Font and universal declarations  */
* {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}



h1 {
    font-weight: 700;
    font-size: 175%;
}


h2 {
    font-weight: 500;
    font-size: 150%;
}


/* setup two column flex layout defaults */
.row {
    display: flex;
    flex-wrap: wrap;

}

.column {
    flex: 1 1 auto;
    padding: 2rem;
    margin: 2rem;
    justify-content: center;
    align-items: center;
    transition: var(--transition-time-long) ease;
}

/* Primary alignment class */
.central-aligned {
    width: var(--central-channel);
    margin: 1rem auto;
    position: relative;
}

/*hide expand-menu button when not needed - only used on phone screen*/
/* TODO: implement functionality */
#expand-menu {
    display:none;
}

/* --------------- 2. Header/Nav Layout and control ----------------- */
/* ------------------------------------------------------------------ */
header {
    background-color: lightgrey;

    /*force element to always show, and be on top */
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

/* Contained by the header, this provides independent sizing and control for the content elements */
#header-content
{
    width: var(--central-channel);
    display: flex;
    align-items: center;
    margin: 0 auto;

}

/* Nav is an independent flexbox */
nav {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    flex: auto;
}

nav a:hover {
    background-color: var(--background-hover);
}

/* set values for relative declarations against the viewport minus the header */
main {
    height: 100%;
}

/* Provide some margin for all p elements */
p {
    margin: 1em 0;
}

/* ----------------------- 3. About Section ------------------------- */
/* ------------------------------------------------------------------ */

#about {
    padding: 2rem;
    
}

#about h2 {
    text-align: center;
}

#about-container {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}

.profile-image {
    /* float: left;
    margin-left: 5%;
    margin-bottom: 5%; */
    width: 20vw;
    max-width: 200px;
    height: auto;
    border: 1px #999;
    border-style: solid;
    border-radius: 50%;
    box-shadow: 10px 5px 10px #555;
    flex: 1 1 20%;
}

#about-text { 
    /* margin-top: 3rem;
    margin-left: 30%; */
    padding-left: 5%;
    flex: 1 1 10%;
    transition: var(--transition-time)
} 


/* ---------------------- 4. Work Examples -------------------------- */
/* ------------------------------------------------------------------ */
.work-section {
    margin-top: 3rem;
}

/* content wrapper for flexbox with work example cards */
.work-examples {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin: 1rem auto;
    padding: 2rem;
    justify-content: space-evenly;
    clear: both;
    max-height: 800px;

}

/* ensure heading is always centered and on its own row */
.work-section>h2 {
    flex:100%;
    margin-left: auto;
    text-align: center;
}

.work-card {
    margin: .5%;
    position: relative;
    overflow: hidden;
    flex: 1 2 33%;
    transition: var(--transition-time);
    max-height: 200px;
    background-color: #CCCCCC;
    min-width: 250px;
}

.work-card:hover {
    opacity: 0.7;
    transition: var(--transition-time);
}

/* make the first one big */
/* TODO: In the future, I may implement a flex grow change on hover for different cards */
.work-examples .work-card:first-of-type {
    flex: 2 1 60%;
}

.work-card img {
    width: 100%;
    height: auto;
    z-index: 2;
}

.work-card >a {
    text-decoration: none;
    color: var(--font-color-primary)
}

.work-card figure figcaption {
    position: absolute;
    bottom: .5rem;
    padding: .4rem;
    /* border: darkgrey solid; */
    background: var(--background-color-transp);
    z-index: 3;
}

.work-card figure figcaption>h2 {
    padding: .5rem 0;
}



/* --------------------------- 5. Links ----------------------------- */
/* ------------------------------------------------------------------ */
.links-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 2.5%;
}

.links-list img {
    max-height: 40px;
    height: auto;
    width: auto;
    max-width: 100%;
    margin: 20px;
}

.links-list>li {
    flex: 45%;
}

#links>h2,
#links>p {
    text-align: center;
}



/* ----------------------- 6. Contact Form -------------------------- */
/* ------------------------------------------------------------------ */
.form-list {
    padding: 2rem;
}

.form-list li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    margin: 1em auto;
    
}

.form-list>li>label {
    flex: 1 0 120px;
    max-width: 180px;
    display: flex;
    justify-content: flex-start;
    padding-right: 1em;
}

.form-list>li>label+* {
    flex: 1 0 220px;
}

.form-list li button {
    margin: .5em auto;
    padding: 8px 16px;
    border: none;
    background: darkgrey;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 0.09em;
    border-radius: 2px;
}

#contact>h2 {
    text-align: center;
}


/* ------------------------- 7. Footer ------------------------------ */
/* ------------------------------------------------------------------ */
footer {
    padding: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}


/* Widen central channel on narrow screens */
@media screen and (max-width: 1100px) {
    .central-aligned {
        width: 80%;
    }
}

/* ------------------- 8. Viewport - Tablet ------------------------- */
/* ------------------------------------------------------------------ */
@media screen and (max-width: 811px) {
    /* ----------------- 8.1. Global Element Changes -------------------- */
    /* ------------------------------------------------------------------ */
    * {
        font-size: 18px;
    }

    /* Define scroll padding for mobile users */
    html {
        scroll-padding-top: 7rem;
    }

    .central-aligned {
        width: 95%;
        margin: 1rem auto;
        position: relative;
    }

    /* --------------------- 8.2. Header/Nav Changes ------------------------ */
    /* ------------------------------------------------------------------ */

    #header-content {
        flex-direction: row;
        padding-top: 1rem;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    #header-content>h1 {
        text-align: center;
        flex: 1 1 50%;
        margin-bottom: 1rem;
    }

    #header-content img {
        /* height: auto; */
        border-radius: 5px;
        margin-left: auto;
        flex:0 0;
        margin-right: 1rem;
    }

    /* my intention with this is to make it a clickable "expand menu" element 
    As I am unable to do this at the moment due to time and skill constraints, I am leaving this note here in lieu of implementing this */
    /* TODO make this hide/unhide the nav element */
    #header-content img:hover {
        /* height: auto; */
        background-color: var(--background-hover);
    }

    /* Hide Nav Button referenced above */
    #expand-menu { 
        display: none;
    }

    nav {
        flex: 1 0 100%;
        order: 3;
        justify-content: center;
    }

     nav>a {
        text-align: center;
    }

    #expand-menu {
        display: none;
    }

    /* -------------------- 8.3. About Section Changes ------------------ */
    /* ------------------------------------------------------------------ */
    #about-container {
        justify-content: center;
    }

    .profile-image {
        margin: 2rem auto;
    }

    #about-text {
        flex: 100%;
    }


    /* ------------------ 8.4. Work Examples Changes -------------------- */
    /* ------------------------------------------------------------------ */
    .work-card {
        flex-direction: column;
        flex: 100%;
    }


     


}


/* ---------------- 9. Viewport - Mobile (Portrait) ----------------- */
/* ------------------------------------------------------------------ */
@media screen and (max-width: 481px) {
    
    /* ----------------- 9.1. Global Element Changes -------------------- */
    /* ------------------------------------------------------------------ */

    * {
        font-size: 20px;
    }

    /* Define scroll padding for mobile users */
    html {
        scroll-padding-top: 7.5rem;
    }
    
    .central-aligned {
        width: 95%;
        margin: 1rem auto;
        position: relative;
    }

    /* box changes in column layout for a better look */
    .column {
        
        margin:15px 0;
        padding:0;
    }

    /* ------------------- 9.2. Header/Nav Changes ---------------------- */
    /* ------------------------------------------------------------------ */

    #header-content {
        flex-direction: row;
        padding-top: 1rem;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    #header-content>h1 {
        padding-left:1rem;
        flex: 1 1 50%
    }

    #header-content img {
        /* height: auto; */
        border-radius: 5px;
        margin-left: auto;
        flex:0 0;
        margin-right: 1rem;
    }

    /* my intention with this is to make it a clickable "expand menu" element 
    As I am unable to do this at the moment due to time constraints, I am leaving this note here*/
    /* TODO make this hide/unhide the nav element - nav element to be flex-direction: column*/
    #header-content img:hover {
        /* height: auto; */
        background-color: var(--background-hover);
    }


    nav {
        flex: 1 0 100%;
        /* flex-direction: column;  */
        order: 3;
        justify-content: center;
        margin-left: 0;
     }

     nav>a {
        text-align: center;
        font-size: smaller;
     }


    /* ----------------- 9.3. About Section Changes --------------------- */
    /* ------------------------------------------------------------------ */


    #about {
        padding: 0;
    }

    #about-container {
        justify-content: center;
    }

    .profile-image {
        margin: 2rem auto;
    }

    #about-text {
        flex: 100%;
        padding: 0 .5em;
    }

    /* ------------------ 9.4. Work Section Changes --------------------- */
    /* ------------------------------------------------------------------ */

    .work-examples {
        padding: 1rem;
    }
    .work-card {
        flex-direction: column;
        flex: 100%;
    }

    /* --------------------- 9.5. Links/Contact Changes ------------------------- */
    /* ------------------------------------------------------------------ */


    .form-list {
        padding: 15px;
    }

    .links-list {
        justify-content: flex-start;
    }

    .links-list li {
        flex:0 1 30%;
    }

}